/* import Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* Whole page */

body {
    height: 100vh;
    background-image: url('../images/seth-weisfeld-IuXt3YN-BDs-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;

}

/* the background image is a partially transparent white background to 
make the text more readable with the background image */

#gradient-container {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2));
}

/* font families */

/* make Roboto standard, then override specific areas below */
* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300;
}

#header-area>h1,
#header-area>h1>span,
#further-research-quantity>span {
    font-family: 'Righteous', Arial, Helvetica, sans-serif;
}

#header-area h2,
#results-area-header h2,
.list-box-header h3 {
    font-family: 'Contrail One', Arial, Helvetica, sans-serif;
}

#analyse-button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

/* Header */

#header-area {
    padding: 100px 32px 0px 32px;
}

#header-area>h1 {
    font-size: 64px;
}

#header-area>h2 {
    font-size: 32px;
    margin-top: 32px;
}

#title-search-seed {
    color: orangered;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-skip-ink: auto;
}

/* Input area */

#input-area,
#results-outer-container,
#further-research {
    margin: 32px;
}

#search-seed-container {
    display: flex;
    border: 1px solid hsl(0, 0%, 85%);
    border-radius: 8px;
}

#seed-input,
#analyse-button {
    padding: 16px;
}

#seed-input {
    width: 100%;
    background-color: hsl(0, 0%, 95%);
    font-size: 16px;
}

#analyse-button {
    float: right;
    width: 172px;
    background-color: orangered;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

#analyse-button:disabled {
    background-color: rgb(175, 175, 175);
    color: rgb(156, 156, 156);
}

/* Results area */

/* use gradient background to fade out main background since results area will
be taller than the image and would leave an abrupt end at the bottom */

#results-area {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    background-size: 100% 150px;
    background-repeat: no-repeat;
}

#results-bg-container {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 1));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-y: 150px;
}

#results-area-header>h2 {
    text-align: center;
    margin-bottom: 32px;
}

#results-container {
    display: grid;
    grid-gap: 32px;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    justify-items: center;
}

/* Results lists */

.list-box {
    width: 100%;
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: orangered;
}

.list-box-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 12px;
    border-bottom: 1px solid hsl(0, 0%, 95%);
}

.list-box-header * {
    color: white;
}

.list-box-header,
.list-box-header i {
    font-size: 120%;
}

.list-box-header>div>.fa-spinner {
    margin-right: 8px;
}

.list-box-body {
    overflow: hidden;
}

.list-box-body ul {
    list-style-type: none;
}

.list-item {
    display: flex;
    justify-content: space-between;

    margin: 16px 0;
    padding: 12px;
    background-color: hsl(0, 0%, 95%);
    border-radius: 4px;
    color: hsl(0, 0%, 30%)
}

.add-to-research {
    color: green;
    font-size: 20px;
}

/* Remove bottom margin on bottom list item to avoid double 
width border at the bottom of the list box */

.list-box-body>ul>li:last-child {
    margin-bottom: 0;
}


/* Further research - hidden until user clicks to expand */
/* code derived from https://www.w3schools.com/howto/howto_css_overlay.asp */

#further-research {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(255, 255, 255, 0.2);
}

/* footer to hold button displaying number of items in further research list */

#footer {
    height: 120px;
    width: 100%;
    z-index: 2;
    position: fixed;
    bottom: 0;
}

#further-research-quantity {
    position: absolute;
    bottom: 32px;
    right: 32px;
    height: 80px;
    line-height: 80px;
    /* set equal to container height to vertically align number in circle */
    width: 80px;
    text-align: center;
    border-radius: 50%;
    background-color: black;
}

#further-research-quantity>span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    color: white;
    font-size: 56px;
}

/* media queries for responsiveness */
/* smaller tablets */
@media screen and (max-width: 900px) {

    #header-area>h1 {
        font-size: 56px;
    }

    #header-area>h2 {
        font-size: 28px;
        margin-top: 24px;
    }

    #results-area-header>h2 {
        margin: 0 24px;
    }

    #results-area-header {
        margin-bottom: 24px;
    }

}

@media screen and (max-width: 700px) {

    #header-area>h1 {
        font-size: 56px;
    }

    #header-area>h2 {
        font-size: 28px;
        margin-top: 18px;
    }

    #seed-input,
    #analyse-button {
        padding: 12px;
    }

    #analyse-button {
        width: 136px;
        font-size: 16px;
    }

}

@media screen and (max-width: 500px) {

    #header-area {
        padding: 100px 24px 0px 24px;
    }

    #input-area,
    #results-outer-container {
        margin: 24px;
    }

    #results-area {
        gap: 24px;
    }

    #header-area>h1 {
        font-size: 40px;
    }

    #header-area>h2 {
        font-size: 24px;
        margin-top: 12px;
    }

    #title-search-seed {
        text-decoration-thickness: 2px;
    }

    #seed-input {
        font-size: 14px;
    }

}

@media screen and (max-width: 400px) {

    #header-area>h1 {
        font-size: 24px;
    }

    #header-area>h2 {
        font-size: 18px;
    }

}