/* import Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Righteous&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* Whole page */

body {
    height: 100vh;
    background-image: url('../images/seth-weisfeld-IuXt3YN-BDs-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

/* the background image is a partially transparent white background to 
make the text more readable with the background image */

#gradient-container {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0.2));
}

/* Header */

#header-area {
    padding: 100px 32px 0px 32px;
}

#header-area > h1 {
    font-family: 'Righteous', Arial, Helvetica, sans-serif;
    font-size: 64px;
}

#header-area > h2 {
    font-family: 'Contrail One', Arial, Helvetica, sans-serif;
    font-size: 32px;
    margin-top: 32px;
}

#title-search-seed {
    color: orangered;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-skip-ink: auto;
}

/* Input area */

#input-area {
    margin-top: 16px;
    margin-bottom: 32px;
    margin-left: 32px;
    margin-right: 32px;
}

#search-seed-container {
    display: flex;

    border: 1px solid hsl(0, 0%, 85%);
    border-radius: 8px;
}

#seed-input, #analyse-button {
    padding: 16px;
}

#seed-input {
    width: 100%;
    background-color: hsl(0, 0%, 95%);
    font-size: 16px;
}

#analyse-button {
    float: right;
    width: 172px;
    background-color: white;
    font-size: 20px;
}

/* smaller tablets */
@media screen and (max-width: 900px) {

    #header-area > h1 {
        font-size: 56px;
    }

    #header-area > h2 {
        font-size: 28px;
        margin-top: 24px;
    }

}

@media screen and (max-width: 700px) {

    #header-area > h1 {
        font-size: 48px;
    }

    #header-area > h2 {
        font-size: 24px;
        margin-top: 18px;
    }

}

@media screen and (max-width: 500px) {

    #header-area {
        padding: 100px 24px 0px 24px;
    }
    
    #header-area > h1 {
        font-size: 40px;
    }

    #header-area > h2 {
        font-size: 24px;
        margin-top: 12px;
    }

    #title-search-seed {
        text-decoration-thickness: 2px;
    }

    #input-area {
        margin-top: 12px;
        margin-bottom: 24px;
        margin-left: 24px;
        margin-right: 24px;
    }

}

@media screen and (max-width: 400px) {

    #header-area > h1 {
        font-size: 24px;
    }

    #header-area > h2 {
        font-size: 18px;
    }

}