* {
    margin: 0;
    padding: 0;
    border: none;
}

/* Header */

#header-area, #search-seed-area {
    padding: 0 16px;
}

#header-area {
    margin-top: 100px;
}

#header-area > h1 {
    font-size: 48px;
}

#header-area > h2 {
    font-size: 24px;
}

/* Input area */

#input-area {
    margin-top: 16px;
}

#input-container {
    display: flex;

    border: 1px solid hsl(0, 0%, 35%);
    border-radius: 4px;
}

#seed-input, #analyse-button {
    padding: 16px;
    font-size: 16px;
}

#seed-input {
    float: left;
    width: 80%;
    background-color: hsl(0, 0%, 93%);
}

#analyse-button {
    float: right;
    width: 20%;
    background-color: white;
}