/* import Google fonts */

@import url('https://fonts.googleapis.com/css2?family=Contrail+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* Whole page */

body {
    height: 100vh;
    background-image: url('../images/seth-weisfeld-IuXt3YN-BDs-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

/* the background image is a partially transparent white background to 
make the text more readable with the background image */

#gradient-container {
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0.2));
}

/* font families */

/* make Roboto standard, then override specific areas below */
* {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 300;
}

#header-area > h1,  #header-area > h1 > span {
    font-family: 'Righteous', Arial, Helvetica, sans-serif;
}

#header-area h2, #results-area-header h2, .results-box-header h3 {
    font-family: 'Contrail One', Arial, Helvetica, sans-serif;
}

#analyse-button {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
}

/* Header */

#header-area {
    padding: 100px 32px 0px 32px;
}

#header-area > h1 {
    font-size: 64px;
}

#header-area > h2 {
    font-size: 32px;
    margin-top: 32px;
}

#title-search-seed {
    color: orangered;
    text-decoration: underline;
    text-decoration-thickness: 4px;
    text-decoration-skip-ink: auto;
}

/* Input area */

#input-area, #results-outer-container {
    margin: 32px;
}

#search-seed-container {
    display: flex;

    border: 1px solid hsl(0, 0%, 85%);
    border-radius: 8px;
}

#seed-input, #analyse-button {
    padding: 16px;
}

#seed-input {
    width: 100%;
    background-color: hsl(0, 0%, 95%);
    font-size: 16px;
}

#analyse-button {
    float: right;
    width: 172px;
    background-color: orangered;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
}

/* Results area */

/* use gradient background to fade out main background since results area will
be taller than the image and would leave an abrupt end at the bottom */

#results-area {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
    background-size: 100% 150px;
    background-repeat: no-repeat;
}

#results-bg-container {
    background-image: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,1));
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position-y: 150px;
}

#results-area-header > h2 {
    text-align: center;
    margin-bottom: 32px;
}

#results-container {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Results lists */

.results-box {
    padding: 16px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 0;
    min-width: 240px;
    max-width: 520px;
    min-height: 240px;
    max-height: 480px;
    background-color: orangered;
}

.results-box-header {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
    border-bottom: 1px solid hsl(0, 0%, 95%);
}

.results-box-header * {
    color: white;
}

.results-box-header i {
    font-size: 130%;
}

.results-box-body {
    overflow: hidden;
}

.results-box-body ul {
    list-style-type: none;
}

.results-box-body > ul > li {
    margin: 16px 0;
    padding: 12px;
    background-color: hsl(0, 0%, 95%);
    border-radius: 4px;
    color:hsl(0, 0%, 30%)
}

/* Remove bottom margin on bottom list item to avoid double 
width border at the bottom of the results box */

.results-box-body > ul > li:last-child {
    margin-bottom: 0;
}


/* media queries for responsiveness */
/* smaller tablets */
@media screen and (max-width: 900px) {

    #header-area > h1 {
        font-size: 56px;
    }

    #header-area > h2 {
        font-size: 28px;
        margin-top: 24px;
    }

    #results-area-header > h2 {
        margin: 0 24px;
    }

    #results-area-header {
        margin-bottom: 24px;
    }

}

@media screen and (max-width: 700px) {

    #header-area > h1 {
        font-size: 56px;
    }

    #header-area > h2 {
        font-size: 28px;
        margin-top: 18px;
    }

    #seed-input, #analyse-button {
        padding: 12px;
    }

    #analyse-button {
        width: 136px;
        font-size: 16px;
    }

}

@media screen and (max-width: 500px) {

    #header-area {
        padding: 100px 24px 0px 24px;
    }

    #input-area, #results-outer-container {
        margin: 24px;
    }

    #results-area {
        gap: 24px;
    }
    
    #header-area > h1 {
        font-size: 40px;
    }

    #header-area > h2 {
        font-size: 24px;
        margin-top: 12px;
    }

    #title-search-seed {
        text-decoration-thickness: 2px;
    }

    #seed-input {
        font-size: 14px;
    }

}

@media screen and (max-width: 400px) {

    #header-area > h1 {
        font-size: 24px;
    }

    #header-area > h2 {
        font-size: 18px;
    }

}